# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Dataset folders (large files)
data/raw/
data/preprocessed/

# Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
# Ignore the entire virtual environment folder
vit_deepfake_env/

# Also ignore standard venv names
.venv/